.navbar-inverse {
    height: 95px;
}

.navbar-brand {
    //background: url(../../../assets/logo.png) no-repeat;
    text-indent: -999px;
    width: 407px;
    height: 72px;
    overflow: hidden;

    img {
        width: 80%;
    }
}